@media screen and (max-width: 320px) {
    body {
        overflow-x: hidden;

    }

    body:nth-child(5) {
        margin-bottom: 2rem;
    }

    /* intro section */
    .introdution-container .intro-title {
        font-size: 1.5rem;
    }

    .introdution-container .intro-text {
        text-align: center;
        font-size: .9rem;
        margin-bottom: 2rem;
    }

    /* mid section */
    body .middle-section-container {
        margin-bottom: 2rem;
    }

    body .middle-section-container .achievements,
    body .middle-section-container .management {
        width: 100%;
        min-height: fit-content;
    }

    body .middle-section-container .achievements .title,
    body .middle-section-container .management .title {
        font-size: 1.1rem;
    }

    body .middle-section-container .achievements li,
    body .middle-section-container .management li {
        font-size: .7rem;
    }

    body .middle-section-container .achievements .title {
        padding-top: 3rem;
    }

    /* Video and Video project section */
    body .video-section,
    body .project-section {

        width: 100vw;
        padding: 0;
        margin: 0 1rem;
    }


    .project-section .project-title {
        font-size: 1.3rem;
    }

    .video-section .section-title {
        font-size: 1.4rem;
    }

    body .project-section .project-intro-p {
        font-size: .5rem;
        min-width: 300px;
        padding-bottom: 2rem;
    }

    body .project-section .project-video-list,
    body .video-section .video-list {
        row-gap: 3rem;
    }

    body .project-section .project-video-list iframe,
    body .video-section .video-list iframe {
        width: 280px;
        height: 12rem;
        transition: .25s ease;
        margin: 0 auto;
        row-gap: 2rem;
    }

    /* footer */
    .socials-list {
        padding-top: 1rem;
        column-gap: 1.4rem;
    }

}
@media screen and (max-width: 375px) {

}
@media screen and (max-width: 425px) {

    /* intro section */
    .introdution-container .intro-text {
        margin-bottom: 5rem;
    }

    /* mid section */
    body .middle-section-container .achievements,
    body .middle-section-container .management {
        width: 100%;
        min-height: fit-content;
    }

    /* video section */

    .body .project-section {
        row-gap: 4rem;
    }

    .video-section,
    .project-section {
        min-height: fit-content;
        margin: 0;
        row-gap: 5rem;
    }

    .video-section .video-section-text {
        margin-bottom: 2rem;

    }

    .video-section .project-section {
        row-gap: 10rem;
        padding: 0;
        margin-bottom: 2rem;
    }

    .project-section .project-intro {
        margin-top: 4rem;
    }

    .video-section .section-p,
    .project-section .project-p {
        width: 90%;
        font-size: 1rem;
        margin: 0 auto;
    }

    .project-section .project-p {
        min-width: 300px;
        padding: 0 1rem;
    }

    .project-section .project-title {
        font-size: 1.5rem;
    }

    .video-section .section-title {
        font-size: 1.5rem;
        margin: 0 auto;
        width: 300px;
    }

    body .project-section .project-intro-p {
        font-size: .5rem;
        min-width: 300px;
    }

    .project-section .project-video-list,
    .video-section .video-list {
        row-gap: 3rem;
    }

    .project-section .project-video-list iframe,
    .video-section .video-list iframe {
        width: 300px;
        height: 14rem;
        transition: .25s ease;
        margin: 0 auto;
        row-gap: rem;
    }

    /* footer */
    footer .footer-container .footer-content-container {
        display: block;
        flex-direction: column;
    }

    /* disabled features */
    .centered {
        display: none;
    }

    .carousell {
        display: none;
    }

    .image-container {
        display: none;
    }

    .cerfiticate {
        display: none;
    }
}
@media screen and (max-width: 768px) {

    .body {
        display: flex;
        flex-direction: column;
    }

    /* HEADER  */
    header {
        position: relative;
        background-color: rgba(82, 83, 84, .3);
    }

    header nav {
        display: none;
    }

    .navbar-container {
        display: flex;
        align-items: center;
        padding: 1rem 0;
    }

    .mobile-nav {
        display: flex;
    }

    .mobile-home-picture {
        display: flex;


    }

    .home-icon-link {
        width: 80px;
        height: 80px;
    }

    /* HAMBURGER MENU  */
    .hamburger-div {
        display: block;
        position: absolute;
        right: 0.5rem;
        top: 2rem;
    }

    /* HEADER  */
    header nav {
        display: none;
    }

    /* INDRODUTION AND MID SECTION */
    .introdution {
        display: flex;
        flex-wrap: wrap;
        margin: 0 auto;
    }


    .intro-title {
        font-size: 1.6rem;
        padding: 2rem 0 1rem 0;
    }

    .intro-text {
        opacity: 0.8;
        line-height: 1.5rem;
    }

    .middle-section-container {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: calc(100% - 20px);
        margin: 0 auto;
    }

    .management {
        width: 80%;
        margin: 0 auto;
    }

    .management .title {
        margin: 1rem auto;
        font-size: 1.5rem;
    }

    .carousell {
        min-height: 400px;
        max-width: 80%;

    }

    .carousell .slide {
        z-index: 1;
        position: absolute;
        width: 100%;
        height: 86%;
        clip-path: circle(0% at 0 50%);
        border-radius: 1rem;

    }

    .carousell .caro-main-title {
        padding: 1rem 0;
        font-size: 1.5rem;
    }

    .carousell .slide .caro-text .caro-title-h2 {

        font-size: 1.3rem;
    }

    .carousell .slide .caro-text .caro-title-p {
        font-size: .9rem;
        line-height: 1.6rem;
        width: 100%;
        height: 10%;
        background-color: rgba(0, 0, 0, 0.706);

    }

    .middle-section-container .achievements {
        min-width: 80%;
    }

    .achievements .achivements-title {
        margin-top: 2rem;
        font-size: 1.5rem;
    }


    /* video and project section */

    .project-section .project-intro,
    .video-section .video-section-text {

        font-size: 1.1rem;
        font-weight: 500;
        font-style: italic;
        padding: 0 2rem;

    }

    .project-section .project-p,
    .video-section .section-p {
        width: 100%;
        text-align: center;
    }

    .project-section .project-video-list {
        padding: 0 1rem 0 1rem;
        justify-content: center;

        margin: 0 auto;
        width: 100%;


    }



    .video-section .video-list {
        display: flex;
        padding-left: 1rem;
        padding-right: 1rem;
    }

.video-section .video-list iframe {
    width: 80%;
    height: 17rem;
}
    /* DISABLED FEATURES */

    .cerfiticate {
        display: none;
    }

    /* DISABLES FEATURES */

    .fa-top {
        font-size: 2rem;
    }

    /* FOOTER  */
    .company {
        grid-area: company;
        /* Additional CSS for the 'company' section */
    }

    .resources {
        grid-area: resources;
        /* Additional CSS for the 'resources' section */
    }

    .other-stuff {
        grid-area: other-stuff;
        /* Additional CSS for the 'other-stuff' section */
    }

    .terms {
        grid-area: terms;
        /* Additional CSS for the 'terms' section */
    }

    .socials {
        grid-area: socials;
        /* Additional CSS for the 'socials' section */
    }

    footer {
        width: 100%;
        padding: 0 2rem;
        margin: 0 auto;

    }

    .footer-container {
        justify-content: center;
        align-items: center;
        margin: 0 auto;
    }

    .footer-content-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr 1fr 4rem;
        grid-template-areas:
            'company resourses'
            'other-stuff terms'
            'socials socials';

        column-gap: 1rem;
        row-gap: 0.5rem;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
    }


    .socials {
        grid-area: socials;
        grid-row: 3 / span 2;
        /* This spans the third row vertically */
        text-align: center;
        /* Center the content horizontally */
    }

    .socials-list {
        display: grid;
        grid-auto-flow: column;
        grid-auto-columns: 1rem;
        grid-auto-rows: 0.5rem;
        align-items: center;
        justify-content: center;




    }

    .media-and-socials {
        padding: 1.5rem;
    }


    .copyright {

        padding: 2rem
    }


    /* FOOTER  */

    .to-top {
        right: 1rem;
    }
}
@media screen and (min-width: 769px) {
    .mobile-dropdown-nav {
        display: none;
    }
}
@media screen and (max-width: 840px) {

   

    .mobile-home-picture {
        display: flex;
    }

    /* intro section */
    .introdution {
        display: flex;
        flex-wrap: wrap;
        margin: 0 auto;
        width: 90%;
    }

    /* middle sectioc */
    .middle-section-container .management {
        width: 90%;
        margin: 0 auto;
    }

    .middle-section-container .achievements {
        width: 90%;
        padding: 0 0 2rem 0;
        margin: 0 auto;

    }

    /* video and projec section */
    body .video-section,
    body .project-section {
        width: 100%;
        padding: 0;
        margin: 0;
    }

    body .project-section {
        margin-bottom: 2rem;
    }

    footer {
        width: 100%;
        padding: 0 2rem;

    }

    .footer-content-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr 1fr 4rem;
        grid-template-areas:
            'company resources'
            'other-stuff terms'
            'socials socials';

        column-gap: 1rem;
        row-gap: 0.5rem;
        justify-content: center;
        align-content: center;
        /* Change align-items to align-content */
        margin: 0 auto;
    }

    .socials {
        grid-area: socials;
        grid-row: 3 / span 2;
        /* This spans the third row vertically */
        text-align: center;
        /* Center the content horizontally */
    }

    .socials-list {
        display: grid;
        grid-auto-flow: column;
        grid-auto-columns: 2rem;
        align-items: center;
        justify-content: center;
        gap: 2rem;
        place-items: center;
        margin: 1rem auto;
    }
}
@media screen and (max-width: 1499px) {




    .body {
        display: flex;
        flex-direction: column;
      
    }

    /* HEADER  */
    header {

        background-color: rgba(82, 83, 84, .3);
    }

    .navbar-container {

        display: flex;
        align-items: center;
        padding: 1rem 0;
    }

    /* INDRODUTION AND MID SECTION */
    .introdution {
        display: flex;
        flex-wrap: wrap;
        margin: 0 auto;
    }

    .introdution-container {
        padding: 0;
        margin: 0;
    }

    /* mid section */
    .middle-section-container {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: calc(100% - 20px);
        margin: 5rem auto;
    }

    .middle-section-container .management {
        width: 80%;
    }

    .carousell {
        min-height: 700px;
        width: 100%;
        margin: 5rem auto;
    }

    .carousell .slide img {
        height: 95%;
    }

    .achivements-title {
        padding-top: 2rem;
        margin: 0 auto;
        text-align: center;
    }

    .middle-section-container .achievements {
        width: 80%;

        margin: 0 auto;


    }

    .middle-section-container .achievements a {
        margin: 0 auto;
        ;
    }

    /* SVG Section */
    

    /* VIDEO SECTION */
    



    .video-list {
        list-style-type: none;
        display: flex;
        flex-direction: column;
    }

    /* DISABLES FEATURES */

    .home-video {
        display: none;
    }

    /* footer */
    footer {
        padding: 0 2rem;
    }
}
@media screen and (min-width: 1500px) {

    .introdution {
        display: none
    }


    .home-video {
        display: block;

    }

    .centered {
        display: none;
    }

}