/* header video background */
header {
    margin-bottom: 3rem;
}

.centered {
    margin: 0 auto;
    margin-top: 3rem;
    padding: 0 2rem;
}

.main-picture {
    max-width: 100%;
    height: auto;

}

.logo-img {
    display: flex;
    position: relative;
    border-radius: 2rem;
    margin: 0 auto;

}

.home-video {
    display: block;
    position: relative;
    width: 100%;
    height: 940px;
}

.contrast {
    position: absolute;
    inset: 0;
    z-index: 500;
}

video {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 0;
    object-fit: cover;



}

.cover-intro {
    display: flex;
    position: absolute;
    justify-content: space-between;
    align-items: flex-end;
    inset: 0;
    z-index: 1000;
    text-align: left;
    padding: 1rem 3rem;
    width: 100%;
    height: 100%;

}

.cover-intro h2 {
    font-size: 2.3rem;
    text-align: left;
    font-weight: 900;
    font-style: italic;

}

.cover-intro .cover-text {
    font-size: 1.1rem;
    line-height: 1.8rem;
    width: 790px;
    font-weight: 500;
    font-style: italic;
}

/* GUILD ROLES ADDS STARTS*/
.add-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: fit-content;
    height: fit-content;
}

.add-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.moderators,
.organizers {
    width: 400px;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    height: 5rem;
}

.add-p {
    font-size: 1.2rem;
}

.status-p {
    padding-right: 2rem;
}

.status-p span {
    margin-right: 1rem;
}

.title-container {
    padding-left: 1rem;
    line-height: 1.5rem;
    font-weight: 500;
}

.details {
    display: flex;
    gap: 0.5rem;
}

/* header video background ENDS */

/* INRODUTION SECTION */
body .introdution {
    margin: 0 auto;
    text-align: center;
    font-size: 1rem;
    font-style: italic;
    height: auto;
    width: 90%;
}

/* MID SECTION */
.middle-section-container {
    display: flex;
    flex-flow: row;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 10rem;
}

/* achievements */
.middle-section-container .achievements {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: fit-content;
    min-height: 1000px;
    padding: 4rem;
    margin: 0 auto;
    border-radius: 0.5rem;
    line-height: 1.5rem;
    background: url(/images/HD-wallpaper-black-pattern-carbon-fiber.jpg) no-repeat center / cover;
    
}

.achievements .softcore-group,
.achievements .hardcore-group,
.achievements .achivements-title {
    flex: 1;
    z-index: 100;
}

.achievements .achivements-title,
.management .title {
    font-size: 1.2rem;
    z-index: 100;
}

.fillter {
    z-index: 100;
}

.achievement-list {
    display: flex;
    flex-direction: column;
    align-items: left;
    padding-top: 2.1rem;
    list-style-type: none;
    line-height: 1.5rem;
    font-size: small;
}

.achievement-list p {
    align-self: center;
    font-size: 1.1rem;
}

.achievement-list li {
    display: flex;
    align-items: center;
    text-align: left;
}

.achievement-list li::before {
    content: url(/images/icons8-cross-48.png);
    display: inline-block;
    vertical-align: middle;
    transform: scale(.5);
}

/* carousell */
.carousell {
    display: block;
    position: relative;
    min-width:65%;
    max-width: 68%;
    min-height: 1000px;
    margin: 0 auto;
    overflow: hidden;
    border-radius: 5rem 1rem 5rem 1rem;

}

.carousell .caro-main-title {

    padding: 2rem 0;
    font-size: 2rem;
}

.carousell .slide {
    z-index: 1;
    position: absolute;
    width: 100%;
    height: 80%;
    clip-path: circle(0% at 0 50%);
    border-radius: 1rem;
    padding: 0 1rem 0 1rem;

}

.carousell .slide.active {

    clip-path: circle(150% at 0 50%);
    transition: 3s;
    transition-property: clip-path;

}

.carousell .slide img {
    z-index: 1;
    width: 100%;
    height: 100%;
}

.carousell .slide .caro-text {
    position: absolute;
    top: 0;
    padding: .25rem 2rem;
}

.carousell .slide .caro-text .caro-title-h2 {
    text-align: left;
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: .15rem;
}

.carousell .slide .caro-text .caro-title-p {
    font-size: 1rem;
    line-height: 1.6rem;
    width: 80%;
    height: fit-content;
    padding: 2rem;
    border-radius: 1rem;
}

.carousell .navigation {
    z-index: 2;
    position: absolute;
    display: flex;
    bottom: 1rem;
    left: 50%;
    margin: 0 auto;
    transform: translate(-50%, -50%);

}

.carousell .navigation .caro-btn {
    width: 2.5rem;
    height: .3rem;
    margin: .5rem;
    cursor: pointer;
}

/*management */
.middle-section-container .management {
   position: relative;
    align-content: center;
    justify-content: center;
    padding: 2rem 4rem;
    margin: 0 auto;
    border-radius: 10px;
    list-style-type: none;
    line-height: 2rem;
    width: fit-content;
    max-height: 1000px;
    background: url(/images/HD-wallpaper-black-pattern-carbon-fiber.jpg) no-repeat center / cover;
}

.background-image::before,
.management::before,
.achievements::before {
    content: "";
    position: absolute;
    inset: 0;
    z-index: 20;
    border-radius: 10px;
}

.background-image::after {
    position: absolute;
    content: "";
    inset: 0;
    background-image:linear-gradient(black, rgba(0, 0, 0, .4), black) ;
    z-index: 1;
    
}

.management h2 .title {
    position: relative;
    margin-top: 1rem;
    z-index: 100;
}

.management h2 {
    position: relative;
    z-index: 100;
}

.management .management-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin-bottom: 2rem;
    z-index: 100;
}

.management-list li {
    line-height: 1.6rem;
    text-align: left;
}

.guild-master-container::before {
    content: url(/images/icons8-major-general-48.png);
    display: inline-block;
    vertical-align: middle;
    transform: scale(.6);
}

.chief-officers-container::before {
    content: url(/images/icons8-captain-general-48.png);
    display: inline-block;
    vertical-align: middle;
    transform: scale(.6);
}

.officers-container::before {
    content: url(/images/icons8-captain-48.png);
    display: inline-block;
    vertical-align: middle;
    transform: scale(.6);
}

.class-officers-container::before {
    content: url(/images/icons8-lieutenant-48.png);
    display: inline-block;
    vertical-align: middle;
    transform: scale(.6);
}

.moderators-container::before {
    content: url(/images/icons8-comandante-48.png);
    display: inline-block;
    vertical-align: middle;
    transform: scale(.5);
}

.management-list {
    font-size: small;
    text-align: center;
    list-style-type: none;
    line-height: 1.5rem;
    z-index: 2;
}

/* SVG SECTION STYLES */
.svg-section {
    --skew-angle-positive: 10deg;
    --skew-angle-negative: -10deg;
    --darkOrange-darkBlue: linear-gradient(135deg, rgb(10, 50, 106), transparent, rgb(106, 87, 11));
    position: relative;
    background: var(--darkOrange-darkBlue);
    display: flex;
    min-height: 200px;
    width: 98%;
    flex: 1;
    margin: 10rem auto;
    z-index: 2;
}

.svg-section::before {
    content: "";
    position: absolute;
    inset: 0;
    transform: skewY(var(--skew-angle-negative));
    z-index: -1;
}


.svg-section::after {
    content: "";
    position: absolute;
    inset: 0;
    transform: skewY(var(--skew-angle-positive));
    z-index: -1;
}

.svg-section::after,
.svg-section::before {
    background: var(--darkOrange-darkBlue);
}

/* PROJECT INTRO SECTION and VIDEO SECTION */
.project-section,
.video-section {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    flex-wrap: wrap;
    z-index: 5;
    margin: 0 auto;
}


.background-image {
    position: relative;
    z-index: 1;
    margin: 10rem auto;
    width: 100%;
    overflow: hidden;
   
}

.project-section {
    position: absolute;
    width: calc(3 * 460px + 459px);
    margin: 0 auto;
    z-index: 30;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.project-section video {
    position: absolute;
    inset: 0;
    object-fit: cover;
    z-index: -10;
}

.project-section .project-intro .project-p {
    position: relative;
    z-index: 200;
}

.img-container {
    display: flex;
    justify-content: space-evenly;
    column-gap: 5rem;
}

.project-section .project-intro,
.video-section .video-section-text {
    flex-wrap: wrap;
    text-align: center;
    line-height: 1.6rem;
    font-size: 1.2rem;
    font-weight: 500;
    font-style: italic;
    row-gap: 2rem;
    margin: 2rem auto;
    z-index: 100;
}

.video-section-text {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 2rem 0;
    margin-top: 5rem;
}

.project-intro {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1000;
    margin: 2rem auto;
}

.project-section .project-video-list,
.video-section .video-list {
    display: flex;
    flex-shrink: 2;
    row-gap: 5rem;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    z-index: 20;
    max-width: 100%;
    margin-bottom:3rem;
}

.project-section iframe,
.video-section iframe {
    transition: .25s ease;
    margin:  0 auto;
}

/* to top button */
.to-top {
    position: fixed;
    vertical-align: middle;
    bottom: 1.5rem;
    right: 2rem;
    width: fit-content;
    height: fit-content;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999999;
    font-size: 3rem;
    opacity: 0;
    transition: all .4s;
}

.to-top.active {
    bottom: 4rem;
    opacity: 1;
    transition: 1.5s;
}

footer {
    margin-top: 10rem;
}