/* MAIN CONTAINERS STARTS */
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  flex-wrap: wrap;
  text-align: center;
  position: relative;
}

.intro-h2 {
  width: 80%;
  margin: 2rem auto;
  font-size: 1.2rem;
}

main {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  row-gap: 5rem;
  align-content: center;
  align-items: center;
  min-height: auto;
}

.recruitment-div {
  display: flex;
  flex: 2;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 1rem;
  margin-bottom: 3rem;
}

.recruitment-div .range-dps-div,
.recruitment-div .male-dps-div {
  width: calc(100% / 2 - 5px);
}

.dps,
.healer,
.tank,
.leadership {
  position: relative;
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
  background-color: rgba(124, 121, 121, 0.1);
  list-style-type: none;
  padding: 2%;
  line-height: 1.2rem;
  border-radius: 5%;
  min-height: 950px;
  max-width: 600px;
  min-width: 500px;
  padding: 1rem 0;
  margin: 0 auto 1rem;
}

figure {
  margin: 0 auto;
}

figure img {
  border-radius: 50%;
}

figcaption {
  font-size: 2.5rem;
  padding: 1rem;
  margin-bottom: 1rem;
}
/* MAIN CONTAINERS ENDS */

/* LIST STYLES */
.dps li,
.tank li,
.healer li,
.leadership li {
  list-style-type: none;
  text-align: center;
  line-height: 2rem;
  margin: 0 auto;
}

.tank .recruitment-article {
 display: flex;
 flex-direction: column;
 row-gap: 4rem;
 margin: 1rem auto 0;
}

.healer .recruitment-article {
  margin-top: .5rem;
  display: flex;
  flex-direction: column;
  row-gap: 3rem;
}

.leadership .recruitment-article .class-ul{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}



.dps p,
.tank p,
.healer p,
.leadership p {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: .5rem auto;
  height: 2rem;
}

p .avaliable-unavaliable {
  margin-top: .3rem;
  margin-left: .4rem;
}

.leadership .class-ul {

display: flex;
flex-direction: column;
row-gap: 5rem;

  
}

.spec-ul {
  margin: 0 auto;
}

:where(.dps, .tank, .healer, .leadership) [type="checkbox"] {
  display: none;
  cursor: pointer;
}

li:has(input[type='checkbox']:checked) {
  text-decoration: line-through;
}

.avaliable-unavaliable {
  margin-left: .15rem;
 
  display: inline-block;
  vertical-align: middle;
}

.buttons {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  display: flex;
  column-gap: 1rem;
}

.dps button,
.healer button,
.tank button,
.leadership button {
  font-size: 1rem;
  font-weight: 600;
  box-shadow: 0 0 5px 1px rgb(231, 175, 71);
  margin-top: 2rem;
  padding: 0.5rem 1rem;
  border: none;
  outline: none;
  border-radius: 0.8rem;
}

/* APPLY NOTE SECTION STARTS */
.recruitment-note {
  margin: 1rem auto;
  padding: 0 2rem;
}

.discord-apply {
  font-size: 3rem;
}

.form-apply,
.discord-apply {
  margin: 0 .25rem;
}

.form-apply {
  margin-right: .25rem;
}
/* APPLY NOTE SECTION ENDS */

@media screen and (max-width: 1500px) {
  main {
    display: block;
    margin: 0 auto;
  }

  .dps,
  .healer,
  .tank {
    margin-bottom: 3rem;
    width: 100%;
  }
}
